/* SLIDER */
.slider-selection {
    background-image: linear-gradient(to bottom, #60a9de 0, #e4f0f9 100%);
}

.slider.slider-horizontal {
    height: 55px;
    width: 60%;
    margin-left: 15px;
}

.slider.slider-horizontal .slider-track {
    height: 7px;
    margin-top: -5px;
    top: 60%;
}

.slider-handle {
    width: 18px;
    height: 18px;
    top: 40%;
}

.slider .tooltip.top {
    margin-top: -11px;
}

.slider .tooltip.bottom {
    margin-top: 21px;
}

/* SELECT2 */
.select2-dropdown {
    z-index: 1080;
}

/* MODAL */
.imageLink {
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 60%;
    }
}

.warning {
    background-color: #c9302c !important;
}

.tooltip {
    z-index: 1029;
}